wandb==0.13.2
typer==0.6.1
matplotlib==3.5.3
pytorch-lightning==1.7.4
pycocotools==2.0.4
pre-commit==2.20.0
black==22.8.0
isort==5.10.1
flake8==5.0.4
opencv-python==4.6.0.66
pretty_errors==1.2.25
rich==12.6.0
